@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600&display=swap');

@font-face {
    font-family: 'SilkSerif';
    src: url('/fonts/SilkSerif-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SilkSerif';
    src: url('/fonts/SilkSerif-LightItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



.links {
    position: relative;
}


.links:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000000;
    height: 1px;
    width: 0;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}



.links:hover:before {
    width: 100%;
}

html.lenis, html.lenis body {
    height: auto;
    overflow: hidden;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-smooth iframe {
    pointer-events: none;
}